@page
@model ButtonGame.Pages.DrawingModel
@{
    ViewData["Title"] = "Drawing";
}
<head>
    <title>Drawing board</title>
</head>
<body>
    <canvas id="canvas"></canvas>
    <script src="~/js/canvas.js"></script>
</body>