@page
@model ButtonGame.Pages.DrawingModel
@{
    ViewData["Title"] = "Drawing";
}

<div class="d-flex justify-content-start">
    <canvas id="canvas" class="drawing-canvas d-flex justify-content-start"></canvas>
</div>

<script src="~/js/canvas.js"></script>
