@page
@model ButtonGame.Pages.Index1Model
@{
    ViewData["Title"] = "List";
}

<header>
    <h1 class="text-light">List</h1>
    <form id="new-task-form">
        <input type="text" id="new-task-input" placeholder="Enter your plan"/>
        <input type="submit" id="new-task-submit" value="Add task" style="border:none"/>
    </form>
</header>
<main>
    <section class="task-list">
        <h2 class="text-light">Tasks</h2>
        <div id="tasks">
            <div class="task">
                <div class="content">
                    <input type="text" class="text" value="My task" readonly/>
                </div>
                <div class="actions d-flex flex-row">
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="~/js/List.js"></script>